header{
    width: 100vw;
    height: 10rem;
    position: relative;
}

.header-flex{
    width: 100%;
}

.header-flex-1{
    height: 65%;
    position: relative;
    background: rgb(51, 53, 69);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-flex-components{
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.left-flex svg{
    height: 5rem;
}

.header-flex-2{
    height: 35%;
    background: rgb(31, 37, 51);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
}

.signin-button{
    background: rgb(248, 68, 100);
    color: #fff;
}

.location-dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #ccc;
}

.location-dropdown p{
    font-size: 1.4rem;
    margin-top: .8rem;
    cursor: pointer;
}

.location-dropdown p:hover{
    color: #fff;
}

.location-dropdown i{
    font-size: 1.4rem;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    margin: 0;
    padding: 0;
}

li{
    font-size: 1.4rem;
    color: #ddd;
    cursor: pointer;
}

li:hover{
    color: #fff;
}

.special-tag-list{
    display: inline-block;
    position: relative;
    height: 100%;
}

.special-tag-list span{
    color: red;
    font-weight: 400;
    font-size: 8px;
    text-transform: uppercase;
    position: absolute;
    top:-30%;
    right: -20%;
}