
  .carousel-cell {
    width: 100%;
    height: 300px;
    margin-right: 10px;
    margin-top: 10px;
    align-items: center;
  }
  
  @media screen and ( min-width: 786px ) {
    /* half-width cells for larger devices */
    .carousel-cell { width: 100%; }
    
  }
   
  .carousel-cell img {
    display: block;
    height: 300px;;
    width: 100%;
    border-radius: 5px;
  }

  .grid-container{
    margin: 5rem auto;
    max-width: 80vw;
    height: 20rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
   
    
}

.flex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.movie-grid{
    width: 100%;
    height: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.movie-grid-component{
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    width: 100%;
    
   
}

.image-container{
    height: 100%;
    width: 100%;
    
}

.movie-poster{
    height: 85%;
    width: auto;
    overflow: hidden;
    border-radius: 1rem;
}

.grid-card{
    margin: 100px;
}

